.Navbar {
  width: 100%;
}

.Navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.Navbar li {
  list-style: none;
  cursor: pointer;
}