.box {
  background-color: rgb(10, 49, 2);
  color: rgb(255, 0, 0);
}
* {
  margin: 0;
  padding: 0;
} 

.box1 {
  color: aquamarine;
  padding: 10px;
  margin: 8px;
  height: 50px;
  box-sizing: border-box;
  background-color: rgb(207, 76, 76);
  border: 6px solid rgb(17, 189, 123);
}
.box3 {
  color: rgb(255, 4, 37);
  padding: 10px;
  margin: 8px;
  height: 50px;
  box-sizing: border-box;
  background-color: aquamarine;
}
.box2 {
  color: hsl(122, 100%, 50%);
  padding: 10px;
  margin: 8px;
  height: 50px;
  box-sizing: border-box;
  background-color: rgb(80, 76, 207);
  border: 6px solid pink;
}
.box3 {
  border: 2px;
}
