h1{letter-spacing: 0cap;line-height: 0%;color: rgb(108, 255, 206);}
h2{letter-spacing: 0cap;line-height: 50%; color: hsl(0, 100%, 50%,.69);font-size: xx-large;}
body{background-color: rgb(78, 71, 104);}