@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap");

p {
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: italic;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0, "SZP1" 0,
    "SZP2" 0, "XPN1" 0, "XPN2" 0, "YPN1" 0, "YPN2" 0;
  color: brown;
  line-height: 0;
  letter-spacing: 0.3cap;
  font-size: large;
  text-indent: 14px;
}

h1 {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  color: darkblue;
  text-align: center;
  text-transform: lowercase;
  text-decoration-style: dotted;
}
h2 {
  text-transform: capitalize;
  text-align: right;
  color: rgb(18, 92, 18);
  text-decoration: underline;
  text-decoration-color: brown;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  text-overflow: ellipsis;
}
