body{
    background-color: brown;
}
div{color: #ffffff;}
@media only screen and (max-width: 475px){
    body{
        background-color: lightblue;
    }
    div{color: black;}
    .boxes{
        flex-direction: column;
    } 
    .box{
    
    background-color: yellow;
}
}
@media screen and (orientation: landscape){
    body{
        background-color: lightgreen;
    }
    
}