.container{
    height: 40vh;
    width: 50vw;
    border: 2px solid black;
  /*
background-color: rgb(171, 255, 255);*/
background-position: center center;
background-image: url("https://www.rd.com/wp-content/uploads/2019/11/cat-10-e1573844975155-scaled.jpg?fit=750%2C750");



}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}