.box {
  border: 2px solid rgb(224, 59, 59);
  width: 100vw;
  background-color: rgba(0, 255, 255, 0.27);
  color: #2f00ff;
  height: 10vh;
}
* {
  margin: auto;
  padding: auto;
  box-sizing: border-box ;
  background-color: black;
}
.container {
  border: 2px solid rgb(224, 59, 59);
  width: 100vw;
 
  background-color: rgba(0, 255, 170, 0.27);
  color: #008118;
  font-size: 16px;
  margin: 2px auto;
}
.container p{
  font-size: 1.4rem;color: rgb(255, 0, 153);
}
html{
  font-size: 19px;
}
.box2{
  border: 2px solid rgb(224, 59, 59);
  background-color: rgba(86, 65, 161, 0.27);
  color: #ff16ec;
height: 5vmin;
  width: 97vmax;
}