.main {
  background-image: url("assets/img/IN-en-20260112-TRIFECTA-perspective_004732f9-7464-4a7c-940b-4a51c4f0f73f_large.jpg") ;
  height: 85vh;
  width: 100vw;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  padding: 0;
  margin: 0;
  background-size: cover;
}

body {
  background: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  height: 85vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  max-width: 80vw;
  height: 90px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
nav img {
  color: red;
  position: relative;
  height: 45px;
  z-index: 10;
}
nav button {
  z-index: 10;
  position: relative;
}

.text {
  color: #ffffff;
  font-family: "Martel Sans", sans-serif;
  text-align: center;
  font-weight: 900;
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: center;
  height: calc(80% + 33px);
  flex-direction: column;
  font-size: 53px;
  margin: auto;
  padding: 30px;
  gap: 23px;
  top: 0;
  overflow: hidden;
}
.text > :nth-child(3) {
  font-size: 20px;
  font-weight: bold;
  top: 30px;
}
.text > :nth-child(4) {
  font-size: 16px;
  font-weight: 500;
}
.text > span:nth-child(1) {
  margin-bottom: -40px;
}
.text > .input-box {
  margin-top: -40px;
}
.btn {
  padding: 7px 15px;
 font-weight: bold;
 background-color: rgba(0, 0, 0, 0.5);
color: #ffffff;
 border-radius: 5px;
 border: 2px solid rgb(127, 127, 127);
}
.btn-red {
  background-color: #e50914;
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 25px;
  font-size: 16px;
 opacity: 1;
  cursor: pointer;
}
.btn-red-sem{
  background-color: #e50914;
  color: white;
  border: none;
  padding: 7px 15px;
  font-size: 14px;
  cursor: pointer;
  opacity: 1;
}
.btn-email{
  width: 370px;
  height: 50px;
  padding: 15px 25px;
  font-size: 16px;
  margin: auto;
color: #ffffff;
}
.seprations{
  height: 6px;
  width: 100%;
  background-color: #363535;
  position:absolute;
  margin-bottom: 50px;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;
     min-height: 65vh;  
}
.secimg{
 position: relative;
}
.secimg img{
  width: 30vw;
 position: relative;
}
.secimg video{
 top: 20%;
  left: 13.1%;
  width: 73%;
  height: 55%;

  object-fit: cover;
  position: absolute;
}
.sec-1 {
    font-size: 48px;
    font-weight: bolder;
}
.sec-2 {
    font-size: 24px;
}
.sec-all{ display: flex;
    flex-direction: column;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 20px;
    gap: 20px;
    top: 50px;
}
.faq h2{
    margin-left: 8.64%;
    background-color: black;
    padding: 20px;;
   
}
.faq{  color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.faqbox:hover{
    background-color: #636363;
    cursor: pointer;
}
.faqbox{
  display: flex;
  background-color: #2d2d2d;
  max-width: 80vw;
  padding: 20px;
  margin: 10px auto;
  justify-content: space-between;
  font-size: 24px;
  transition: all 1s ease-in-out;
}
footer {
    color: white;
    max-width: 50vw;
    margin: 20px;
    padding: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}