* {
    margin: 0;
    padding: 0;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    font-size: 14px;
}
body {
    background-color: #000000;
}
/*  utility */
.border {
    border: 2px solid #ff0000;
    margin: 3px;
}

.bg-black {
    background-color: rgb(0, 0, 0);
    color: white;
}

.invert {
    filter: invert(100%);
}

.bg-grey {
    background-color: #1d1d1d;
}

.line {
    border: 0.5px solid #8c8c8c;
    height: 22px;
}

.flex {
    display: flex;
}

/* notification  panel  start*/
/* ################################################################## */
.navigation-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 6px;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 55px;
}

.nav-left-section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.spotify-logo {
    padding: 0px 20px 0px 22px;
}

.grey-icon {
    width: 22px;
    filter: invert(75%);
}

.home-icon {
    width: 22px;
    filter: invert(100%);
}
.home-button {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 100%;
    margin: 2px;
}
.home-button:hover {
    background-color:#313131;
    padding: 13px 13px;
}

.search-box {
    display: flex;
    height: 28px;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    border-radius: 30px;
    width: 450px;
}
.search-box:hover {
    background-color:#313131;
    padding: 11px 17px;
}
.search-input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 400px;
}

.search-input::placeholder {
    color: #b3b3b3;
    font-size: 16px;
}

.nav-divider {
    border-left: 0.5px solid #fdfdfd;
    height: 25px;
    margin: auto 40px auto 20px;
}

.nav-right-section {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #8c8c8c;
    margin: 3px;
    font-size: 16px;
    font-weight: 600;
}
.nav-link:hover {
    color: white;
    font-size: 16.5px;
}
.btn {
    padding: 8px 20px 10px 0px;
    border: none;
    color: #8c8c8c;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}
.btn:hover {
    color: white;
    font-size: 14.5px;
}
.btn-log {
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 50px;
    border-radius: 30px;
    width: 110px;
    font-size: 16px;
    font-weight: 780;
    padding: 0px 10px;
}
.btn-log:hover {
    background-color: #e0e0e0;
    color: rgb(0, 0, 0);
    height: 52px;
    width: 112px;
    font-size: 16px;
  
}

/* notification  panel end */
/* ################################################################## */

/* left container start */
/* ################################################################## */
.left {
    margin: 0px 8px 0px 8px;
    width: 28%;
    height: 80vh;
    padding: 14px;
    border-radius: 10px;
    background-color: #141414;
    
}

.library {
    display: flex;
    justify-content:space-between;
    padding-bottom: 40px;
    align-items: center;
}

.library div {
    font-size: 16px;
    font-weight: 550;
    padding: 10px 0px;
}

.btn-create {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 30px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 30px;
}
.btn-create.bg-grey:hover {
    background-color:#313131;}
.btn-create:hover {
    background-color:#c5c5c5;
     transform: scale(1.04);
       
}

.playlist-container {
    height: 140px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text-1 {
    padding: 15px 3px 3px 20px;
    font-size: 16px;
    font-weight: 700;
}

.text-2 {
    padding: 15px 3px 3px 20px;
    font-size: 14px;
}
.middle-box {
    height: 10vh;
   
    top: 0;
    text-align: center;
}
.footer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.footer a {
    text-decoration: none;
    color: #8c8c8c;
   font-size: 12px;
    padding: 5px;
}
.footer-bottom a{
       text-decoration: none;
    color: #ffffff;
    padding-top: 0px;
    padding: auto;
}
.btn-lang{
    border: 1px solid #8c8c8c;

    margin: 0;
}
.btn-lang:hover{
    background-color: transparent;
    border: solid white;
    color: white;
}

/* left container ends */
/* ################################################################## */
/* right  container starts */
/* ################################################################## */



.right {
    width: 70%;
    margin: 0px 8px 0px 0px;
    height: 80vh;
    padding: 14px;
    color: white;
    border-radius: 10px;
    background-color: #141414;
}
/*trending section start */
.trending{

    padding: 5px 0px 5px 20px;
    display:flex
}
.right h1{
    font-size: 20px;
    font-weight: 800;
    padding: 10px 0px 0px 30px;
}
.card-container {
   width: 180px;
   height: 250px;
   display: flex;
   justify-content: center;
   border-radius: 10px;
}
.card-container:hover{
    background-color:#1d1d1d
}
.card-container a{
    text-decoration: none;
}
.card-image {
    position: relative;
    width: fit-content;
}
.card img {
    width: 150px;
    border-radius: 10px;
    padding-top: 10px;
    display: block;
}
.card h2 {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px 5px 0px;
    color: #ffffff;
}
.card h2 a {
    color: #ffffff;
}

.card p a {
    display: flex;
    flex-wrap: wrap;
    color:#8c8c8c;
}
.playbutton {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #1ed760;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -12px;
    bottom: 10px;
    opacity: 0;
    transform: translateY(8px);
    transition: opacity 0.25s ease, transform 0.25s ease;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.45);
    pointer-events: none;
    margin: 20px;
    margin-bottom: 0px;
}
.playbutton::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid #000;
    margin-left: 4px;
}
.card-container:hover .playbutton {
    opacity: 1;
    transform: translateY(0);
}
