.img1{ 
    height: 25vh;
    width: 30vw;
    filter: contrast(200%);
}
.img2{
    height: 25vh;
    width: 30vw; filter: contrast(150%);
}

.img3{
    height: 28vh;
    width: 30vw;
    filter:brightness(150%) contrast(120%)/*drop-shadow(10px 20px 20px rgb(68, 0, 0))*/;


}