.container{ 
    background-color: rgb(133, 133, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
    align-content: center;
    gap: 4px 5px;
    margin: auto;
    padding: 10px;
}
.item1, .item2, .item3, .item4 {
    flex-grow: 12; /* Set flex-grow for all items to 12 */
    height: 19px;
    width: 50px;
    border: 2px solid rgb(35, 3, 3);
    margin: 3px;
    padding: 2px;
    text-align: center;
}
.item1 {
    background-color: red; /* Item 1 color */
    color: aliceblue;
}
.item2 {
    background-color: blue; /* Item 2 color */
    color: aliceblue;
    align-self: flex-end; /* Align item 2 to the end */
}
.item3 {
    background-color: green; /* Item 3 color */
    color: aliceblue;
}
.item4 {
    background-color: yellow; /* Item 4 color */
    color: black;
}
.item5 {
    background-color: red; /* Item 1 color */
    color: aliceblue;
}
.item6 {
    background-color: blue; /* Item 2 color */
    color: aliceblue;
    align-self: flex-end; /* Align item 2 to the end */
}
.item7 {
    background-color: green; /* Item 3 color */
    color: rgb(0, 0, 0);
}
.item8 {
    background-color: yellow; /* Item 4 color */
    color: black;
}