img{
    float: left;
    margin-right: 4px auto;
    padding: 4px;
}
.cards{
    border: 4px solid #0051ff;
    display: flow-root;
}
.card{
    border: 2px solid #ff0000;
padding: 0%;}
.card2{
    border: 2px solid #ff0000;
    clear: both;
    padding: 0%;
    border-bottom: none;
}