.grid-container{
 border: 2px solid black;
    display: grid ;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex: end;
}
.item{
    border: 2px solid red;
    height: 55px;
    width: 55px;

}
.item3{
    border: 2px solid rgb(0, 0, 180);
   grid-row: 1/2;
    grid-column: 3/3;
}
.item5{
    border: 2px solid rgb(60, 255, 0);
   grid-row: 2/3;
    grid-column: 1/2;
}