       h1{
            color: red;
        }
        .apple{
            color: yellow;
        }
        .mango{
            color: green important;
            line-height: 0%;}
        .banana{
            color: rgb(0, 0, 255);
        }
        
        h2{  line-height: 0%;background-color: rgb(6, 181, 181);
        }
        #one{
            color: rgb(255, 153, 0);
            background-color: rgb(9, 1, 9);
        }