nav ul li {
    /*list-style-type: devanagari;
    list-style-position: inside;
    background-color: #000;
    color: #f00;
    border: 2px solid rgb(0, 255, 195);*/
    list-style: none;display: inline-flex;
}